<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @home.titulo %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @home.conteudo %>
</p>


<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
